@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import 'antd/dist/antd.css';
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';

html, body, #root {
	font-family:'Noto Sans CJK KR', Noto Sans KR, sans-serif !important;
	font-weight: 500;
	margin: 0;
}

/* Sample Layout */
#sample-layout {
	box-sizing: border-box;
	display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
}
#sample-layout #header {
	color: #fff;
	background: #7dbcea;
	height: 160px;
    padding: 0 50px;
	line-height: 160px;
	flex: 0 0 auto;
	text-align: center;
}
#sample-layout #content {
	min-height: 640px;
    color: #fff;
    line-height: 640px;
	background: rgba(16, 142, 233, 1);
	flex: auto;
	text-align: center;
}
#sample-layout #footer {
	border: 1px soild #000;
	height: 140px;
	color: #fff;
    line-height: 140px;
	background: rgb(31, 16, 233);
	flex: auto;
	text-align: center;
}
/* Sample Layout */

/* Main Layout */
#main-layout {
	box-sizing: border-box;
	display: flex;
    flex: auto;
	flex-direction: column;
	/* background-image: url(/src/assets/images/background.jpg); */
	background-image: url(/src/assets/images/happysun_190218__030.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
}
#main-layout #header {
	width: 90%;
	min-height: 6vh;
	padding: 20px 0px;
	margin: auto;
}
#main-layout #header .header-right {
	text-align: right;
}
#main-layout #header .user-add-button .anticon.anticon-user-add svg {
	width: 25px;
	height: 25px;
	color: #FFF;
}
#main-layout #content {
	width: 80%;
	min-height: 94vh;
	margin: auto;
	flex: auto;
}
#main-layout #content .search-wrap {
	margin-top: 27%;
}
#main-layout #content .search-wrap .ant-input-affix-wrapper {
	height: 45px;
	border-radius: 20px;
}
#main-layout #content .search-wrap .ant-input-affix-wrapper .anticon.anticon-search {
	color: #4285f4;
	font-size: 22px;
}
#main-layout #content .grid-wrap {
	margin-top: 40%;
}
.ag-theme-alpine .ag-root-wrapper {
	border: none;
}
.ag-header-cell-label {
	justify-content: center;
}
.ag-theme-alpine .ag-ltr .ag-cell {
	font-size: 12px;
	line-height: 2.8em;
}
.user-add-modal-wrap .form-item-wrap {
	margin-bottom: 10px;
}
/* Main Layout */